body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
  text-decoration: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin: 0 auto;
  list-style: none;
  padding-left: 0;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

address {
  font-style: normal;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 16px;
}
/* -------------------------header---------------------------- */
.header {
}

.container {
}

.header-wrap {
  display: flex;
  justify-content: space-between;
  padding: 20px 24px;
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-nav-logo {
}

.header-nav-list {
  display: flex;
  gap: 38px;
}

.header-nav-item {
}

.header-nav-link {
  font-size: 14px;
  line-height: 1.43;
  letter-spacing: 0.02em;
  text-align: center;
  color: #212121;
}

.header-sign-wrap {
  display: flex;
  align-items: center;
}

.header-sign-list {
  display: flex;
  gap: 38px;
  padding-right: 29px;
}

.header-sign-item {
  font-size: 14px;
  line-height: 1.43;
  letter-spacing: 0.02em;
  text-align: center;
  color: #212121;
}

.header-sign-button {
  font-size: 14px;
  line-height: 1.57;
  color: #fff;
  border: 1px solid #f46a35;
  border-radius: 10px;
  width: 148px;
  height: 36px;
  background-color: #f46a35;
}

/* -------------------------------------------------------- */

/* ----------------------corporate-------------------------- */
.corporate {
  padding-left: 48px;
}

.corporate-container {
  display: flex;
}

.corporate-wrap {
}

.corporate-title {
  font-weight: 400;
  font-size: 40px;
  line-height: 1.3;
  letter-spacing: 0.04em;
  color: #212121;
  max-width: 494px;
  margin-bottom: 23px;
}

.corporate-button-sales {
  font-size: 14px;
  line-height: 1.57;
  color: #fff;
  border: 1px solid #f46a35;
  border-radius: 10px;
  width: 160px;
  height: 48px;
  background-color: #f46a35;
  margin-right: 8px;
}

.corporate-button-open {
  font-size: 14px;
  line-height: 1.57;
  color: #212121;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  width: 160px;
  height: 48px;
  background-color: #fff;
}

.corporate-subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  color: #212121;
  margin-bottom: 9px;
}

.corporate-text {
  font-size: 14px;
  line-height: 1.43;
  letter-spacing: 0.02em;
  color: #212121;
  margin-bottom: 7px;
}

.corporate-link {
  font-size: 16px;
  line-height: 1.5;
  color: #f46a35;
}

.corporate-images {
}

/* --------------------------------------------------------- */

/* ---------------------------application------------------------------ */

.application-section {
  padding-top: 80px;
  padding-bottom: 48px;
}

.application-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 48px;
}

.application-item {
}

.application-image {
}

/* --------------------------------------------------------- */

/* --------------------------solution------------------------------- */

.solution-section {
}

.solution-title {
  margin-top: 160px;
  margin-bottom: 8px;
  font-weight: 400;
  font-size: 36px;
  line-height: 1.44;
  letter-spacing: 0.04em;
  text-align: center;
  color: #212121;
}

.solution-text {
  font-weight: 400;
  font-size: 19px;
  line-height: 1.68;
  letter-spacing: 0.02em;
  text-align: center;
  color: #212121;
  margin-bottom: 48px;
}

.solution-list {
  display: flex;
}

.solution-item-enterprise {
  background-image: url(../images/background-solution-1.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 580px;
  height: 641px;
  margin: 0 auto;
}

.solution-item-startups {
  background-image: url(../images/background-solution-2.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 580px;
  height: 641px;
  margin: 0 auto;
}

.solution-subtitle {
  margin-top: 48px;
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 32px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
}

.solution-subtitle.startups {
  color: #212121;
}

.solution-subtitle-text {
  max-width: 476px;
  padding-bottom: 22px;
  margin: auto;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
}

.solution-subtitle-text.startups {
  color: #212121;
}

.solution-button {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.57;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 10px;
  width: 160px;
  height: 48px;
  background-color: transparent;
  display: block;
  margin: auto;
}

.solution-button.startups {
  border: 1px solid #212121;
  color: #212121;
}

.solution-image-startups {
  margin-bottom: auto;
}

/* --------------------------------------------------------- */
