body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
  text-decoration: none;
  color: #212121;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin: 0 auto;
  list-style: none;
  padding-left: 0;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

address {
  font-style: normal;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
/* -------------------------header---------------------------- */
.header {
}

.container {
}

.header-wrap {
  display: flex;
  justify-content: space-between;
  padding: 20px 24px;
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-nav-logo {
}

.header-logo-svg {
  width: 78px;
  height: 20px;
  margin-right: 29px;
}

.header-nav-list {
  display: flex;
  gap: 38px;
}

.header-nav-item {
}

.header-nav-link {
  font-size: 14px;
  line-height: 1.43;
  letter-spacing: 0.02em;
  text-align: center;
  color: #212121;
}

.header-nav-svg {
  width: 13px;
  height: 9px;
}

.header-sign-wrap {
  display: flex;
  align-items: center;
}

.header-sign-list {
  display: flex;
  gap: 38px;
  padding-right: 29px;
}

.header-sign-item {
  font-size: 14px;
  line-height: 1.43;
  letter-spacing: 0.02em;
  text-align: center;
}

.header-sign-button {
  font-size: 14px;
  line-height: 1.57;
  color: #fff;
  border: 1px solid #f46a35;
  border-radius: 10px;
  width: 148px;
  height: 36px;
  background-color: #f46a35;
}

/* -------------------------------------------------------- */

/* ----------------------corporate-------------------------- */
.corporate {
  padding-left: 24px;
}

.corporate-container {
  display: flex;
}

.corporate-wrap {
}

.corporate-title {
  font-weight: 400;
  font-size: 40px;
  line-height: 1.3;
  letter-spacing: 0.04em;
  max-width: 494px;
  margin-bottom: 23px;
}

.corporate-button-sales {
  font-size: 14px;
  line-height: 1.57;
  color: #fff;
  border: 1px solid #f46a35;
  border-radius: 10px;
  width: 160px;
  height: 48px;
  background-color: #f46a35;
  margin-right: 8px;
}

.corporate-button-open {
  font-size: 14px;
  line-height: 1.57;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  width: 160px;
  height: 48px;
  background-color: #fff;
}

.corporate-subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  margin-bottom: 9px;
}

.corporate-text {
  font-size: 14px;
  line-height: 1.43;
  letter-spacing: 0.02em;
  margin-bottom: 7px;
}

.corporate-link {
  font-size: 16px;
  line-height: 1.5;
  color: #f46a35;
}

.corporate-images {
}

/* --------------------------------------------------------- */

/* ---------------------------application------------------------------ */

.application-section {
  padding-top: 80px;
  padding-bottom: 48px;
}

.application-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 48px;
}

.application-item {
}

.application-image {
}

/* --------------------------------------------------------- */

/* --------------------------solution------------------------------- */

.solution-section {
  padding-top: 160px;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 72px;
}

.solution-title {
  margin-bottom: 8px;
  font-weight: 400;
  font-size: 36px;
  line-height: 1.44;
  letter-spacing: 0.04em;
  text-align: center;
}

.solution-text {
  font-weight: 400;
  font-size: 19px;
  line-height: 1.68;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 48px;
}

.solution-list {
  display: flex;
  gap: 8px;
}

.solution-item-enterprise {
  background-image: url(../images/background-solution-1.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 580px;
  height: 641px;
  margin: 0 auto;
}

.solution-item-startups {
  background-image: url(../images/background-solution-2.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 580px;
  height: 641px;
  margin: 0 auto;
}

.solution-subtitle {
  margin-top: 48px;
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 32px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
}

.solution-subtitle.startups {
  color: #212121;
}

.solution-subtitle-text {
  max-width: 476px;
  padding-bottom: 22px;
  margin: auto;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
}

.solution-subtitle-text.startups {
  color: #212121;
}

.solution-button {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.57;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 10px;
  width: 160px;
  height: 48px;
  background-color: transparent;
  display: block;
  margin: auto;
}

.solution-button.startups {
  border: 1px solid #212121;
  color: #212121;
}

.solution-image-startups {
  margin-bottom: auto;
}

/* --------------------------------------------------------- */
/* ---------------------------budget------------------------------ */

.budget-section {
  background-color: #f9f9f9;
  padding-left: 48px;
  padding-right: 48px;
  padding-top: 95px;
  padding-bottom: 80px;
}

.budget-title {
  margin-bottom: 21px;
  font-weight: 400;
  font-size: 36px;
  line-height: 1.44;
  letter-spacing: 0.04em;
}

.budget-text {
  margin-bottom: 12px;
  font-size: 20px;
  line-height: 1.6;
  letter-spacing: 0.02em;
  max-width: 850px;
}

.budget-link {
  border: 1px solid #212121;
  border-radius: 10px;
  width: 203px;
  height: 48px;
  font-size: 14px;
  line-height: 1.57143;
  padding: 12px 21px;
  color: #212121;
}

.budget-img {
  border-radius: 15px;
  margin-top: 40px;
}

/* --------------------------------------------------------- */
/* --------------------------doordash------------------------------- */
.doordash-section {
  padding-top: 251px;
  padding-bottom: 227px;
}

.doordash-image {
  display: block;
  margin: auto;
}

.doordash-text {
  margin: 0 auto;
  font-size: 22px;
  line-height: 1.09;
  text-align: center;
  margin-top: 49px;
  margin-bottom: 48px;
  max-width: 673px;
}

.doordash-text::before {
  width: 50px;
  height: 20px;
  background-color: #212121;
  margin-right: 166px;
}

.doordash-second-text {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  text-align: center;
}

/* --------------------------------------------------------- */
/* -----------------------------brex---------------------------- */

.brex-section {
  padding-top: 25px;
  padding-left: 48px;
  padding-right: 48px;
}

.brex-title {
  margin: 0 auto;
  text-align: center;
  font-weight: 400;
  font-size: 40px;
  line-height: 1.3;
  letter-spacing: 0.04em;
  max-width: 687px;
  margin-bottom: 79px;
}

.brex-list {
  display: flex;
  gap: 64px;
}

.brex-item {
}

.brex-image {
  margin-bottom: 26px;
}

.brex-text {
  font-size: 20px;
  line-height: 1.4;
  letter-spacing: 0.02em;
  margin-bottom: 22px;
  width: 325px;
}

.brex-link {
  font-size: 16px;
  line-height: 1.5;
  color: #f46a35;
}

/* --------------------------------------------------------- */
/* ---------------------------budget------------------------------ */
.magazine-section {
  padding-top: 81px;
  padding-bottom: 161px;
}

.magazine-list {
  display: flex;
  justify-content: center;
}

.magazine-item {
  width: 275px;
  height: 200px;
  border: 1px solid #8e8f99;
  display: flex;
  justify-content: center;
  align-items: center;
}

.magazine-image {
}
/* --------------------------------------------------------- */
/* -----------------------contact---------------------------- */
.contact-section {
  padding: 0 48px;
  display: flex;
  border: 1px solid #000;
  background-color: #f9f9f9;
}

.contact-wrap {
}

.contact-title {
  font-weight: 400;
  font-size: 40px;
  line-height: 1.3;
  letter-spacing: 0.04em;
  margin-top: 110px;
  margin-bottom: 27px;
}

.contact-text {
  font-size: 20px;
  line-height: 1.6;
  letter-spacing: 0.02em;
  margin-bottom: 20px;
}

.contact-btn-wrap {
  display: flex;
  gap: 16px;
  margin-bottom: 110px;
}

.contact-btn-sales {
  font-size: 14px;
  line-height: 1.57;
  border: 1px solid #f46a35;
  border-radius: 10px;
  width: 160px;
  height: 48px;
  background-color: #f46a35;
}

.contact-btn-open {
  font-size: 14px;
  line-height: 1.57;
  border: 1px solid #212121;
  border-radius: 10px;
  width: 160px;
  height: 48px;
}

.contact-image {
}

/* --------------------------------------------------------- */
/* ---------------------footer------------------------------ */

.footer {
  background-color: #171717;
  padding-top: 120px;
  padding-left: 48px;
  padding-right: 242px;
  padding-bottom: 121px;
}

.footer-wrap {
  display: flex;
}

.footer-logo {
}

.footer-logo-svg {
}

.footer-list-wrap {
}

.footer-title {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 7px;
  margin-right: 198px;
}

.footer-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 8px;
}

.footer-item {
}

.footer-link {
  font-size: 14px;
  line-height: 1.57;
  color: #bcbdbd;
}

.footer-svg-wrap {
  padding-top: 101px;
  padding-bottom: 135px;
  display: flex;
}

.footer-svg-list-wrap {
  margin-right: 192px;
}

.footer-svg-list {
  display: flex;
  gap: 24px;
}

.footer-svg-item {
}

.footer-svg-soc-link {
}

.footer-svg-soc {
  width: 16px;
  height: 16px;
}

.footer-img-wrap {
}

.footer-img-list {
  display: flex;
  gap: 24px;
}

.footer-img-item {
}

.footer-img-app {
}

.footer-wrap-text {
}

.footer-text {
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.02em;
  color: #bcbdbd;
}
/* --------------------------------------------------------- */
